<a href="https://colab.research.google.com/github/nikhil2008github/Data-ops/blob/main/code_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CODE BASIC PRACTICE

## Import of all the library

In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv(r'/content/practice data.csv')
df.head()
#skiprows = 1 is to skip the particular row / header = 1 is also similar / header = none , columnname ["--", "-- "]

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
#df = pd.read_csv(r'/content/practice data.csv', nrows =6)
df
#nrows is used to read number of row

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141
5        6  Male  30-45        150       147

In [ ]:
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [ ]:
df = pd.read_csv(r'/content/practice data.csv', na_values =149 )
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45      143.0     153.0
1          2    Male  30-45      163.0     170.0
2          3    Male  30-45      153.0     168.0
3          4    Male  30-45      153.0     142.0
4          5    Male  30-45      146.0     141.0
..       ...     ...    ...        ...       ...
115      116  Female    60+      152.0     152.0
116      117  Female    60+      161.0     152.0
117      118  Female    60+      165.0     174.0
118      119  Female    60+        NaN     151.0
119      120  Female    60+      185.0     163.0

[120 rows x 5 columns]

In [ ]:
df

NameError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv(r'/content/practice data.csv')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]